  .content-gral{
    width: 100%;
  }
  .content .content-layouting .fq-tab-section {
  padding: 26px 19px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #e0e6ed;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06); }
  .content .content-layouting .fq-tab-section h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 45px;
    letter-spacing: 0px;
    text-align: center; }
    .content .content-layouting .fq-tab-section h2 span {
      color: #4361ee; }
  .content .content-layouting .fq-tab-section .accordion .card {
    border: 1px solid #e0e6ed;
    border-radius: 6px;
    margin-bottom: 4px; }
    .content .content-layouting .fq-tab-section .accordion .card .card-header {
      padding: 0;
      border: none;
      background: none; }
      .content .content-layouting .fq-tab-section .accordion .card .card-header > div {
        padding: 15px 19px;
        font-weight: 600;
        font-size: 16px;
        color: #4361ee;
        cursor: pointer;
        display: flex;
        justify-content: space-between; }
        .content .content-layouting .fq-tab-section .accordion .card .card-header > div[aria-expanded="true"] {
          border-bottom: 1px solid #e0e6ed; }
      .content .content-layouting .fq-tab-section .accordion .card .card-header div .content-q-title {
        overflow: hidden;
        font-size: 14px;
        color: #888ea8;
        font-weight: 600;
        letter-spacing: 1px;
        align-self: center; }
      .content .content-layouting .fq-tab-section .accordion .card .card-header div[aria-expanded="true"] .content-q-title {
        color: #4361ee; }
      .content .content-layouting .fq-tab-section .accordion .card .card-header div .icons {
        display: inline-block;
        float: right; }
        .content .content-layouting .fq-tab-section .accordion .card .card-header div .icons svg {
          color: #888ea8; }
      .content .content-layouting .fq-tab-section .accordion .card .card-header div[aria-expanded="true"] .icons svg {
        color: #4361ee; }
      .content .content-layouting .fq-tab-section .accordion .card .card-header div svg.feather-thumbs-up {
        cursor: pointer;
        vertical-align: bottom;
        margin-right: 10px;
        width: 18px;
        color: #888ea8;
        fill: rgba(0, 23, 55, 0.08); }
    .content .content-layouting .fq-tab-section .accordion .card:hover .card-header div svg.feather-thumbs-up {
      color: #4361ee;
      fill: rgba(27, 85, 226, 0.239216); }
    .content .content-layouting .fq-tab-section .accordion .card .card-header div[aria-expanded="true"] svg.feather-thumbs-up {
      color: #4361ee;
      fill: rgba(27, 85, 226, 0.239216); }
    .content .content-layouting .fq-tab-section .accordion .card .card-header div span.content-like-count {
      font-size: 13px;
      font-weight: 700;
      color: #888ea8;
      fill: rgba(0, 23, 55, 0.08); }
    .content .content-layouting .fq-tab-section .accordion .card:hover .card-header div span.content-like-count, .content .content-layouting .fq-tab-section .accordion .card .card-header div[aria-expanded="true"] span.content-like-count {
      color: #4361ee;
      fill: rgba(27, 85, 226, 0.239216); }
    .content .content-layouting .fq-tab-section .accordion .card .card-body {
      padding: 19px 30px; }
      .content .content-layouting .fq-tab-section .accordion .card .card-body p {
        font-size: 13px;
        line-height: 23px;
        letter-spacing: 1px; }
.breadcrumb {
  background-color: transparent;
  margin-bottom: 0; }

/*
    Breadcrumb 1
*/
.breadcrumb-one {
  display: inline-block; 
	margin-left: 13px;}
.breadcrumb-one .breadcrumb {
    padding: 0;
    vertical-align: text-bottom; }
.breadcrumb-one .breadcrumb-item {
    align-self: center; }
.breadcrumb-one .breadcrumb-item a {
      color: #888ea8;
      vertical-align: text-bottom; }
      .breadcrumb-one .breadcrumb-item a svg {
        width: 18px;
        height: 18px;
        vertical-align: sub;
        fill: #e0e6ed; }
    .breadcrumb-one .breadcrumb-item.active a {
      color: #515365; }
    .breadcrumb-one .breadcrumb-item span {
      vertical-align: text-bottom; }
    .breadcrumb-one .breadcrumb-item.active {
      color: #3b3f5c;
      font-weight: 600; }
    .breadcrumb-one .breadcrumb-item + .breadcrumb-item {
      padding: 0px; }
      .breadcrumb-one .breadcrumb-item + .breadcrumb-item::before {
        color: #888ea8;
        padding: 0 6px 0 6px; }
  /*
    Breadcrumb 2
*/
.breadcrumb-two .breadcrumb {
  list-style: none;
  overflow: hidden;
  padding: 0; }
  .breadcrumb-two .breadcrumb li {
    float: left; }

.breadcrumb-two .breadcrumb-item + .breadcrumb-item::before {
  color: #fff; }

.breadcrumb-two .breadcrumb li a {
  color: #4361ee;
  text-decoration: none;
  padding: 6px 0 6px 40px;
  background: #ebedf2;
  position: relative;
  display: block;
  float: left; }
  .breadcrumb-two .breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid #ebedf2;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2; }
  .breadcrumb-two .breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid #ebedf2;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1; }

.breadcrumb-two .breadcrumb li:last-child a:before {
  margin-left: -6px; }

.breadcrumb-two .breadcrumb li:first-child a {
  padding-left: 10px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px; }

.breadcrumb-two .breadcrumb li.active a {
  background: #4361ee;
  color: #fff; }
  .breadcrumb-two .breadcrumb li.active a:after {
    border-left-color: #4361ee; }

.breadcrumb-two .breadcrumb li:last-child a {
  pointer-events: none;
  cursor: default;
  padding-left: 20px;
  padding-right: 20px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px; }
  .breadcrumb-two .breadcrumb li:last-child a:after {
    border: none; }

/*      Alert       */
.alert {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0.9375rem; }
  .alert .btn {
    padding: 3px 12px;
    margin-right: 20px; }
    .alert .btn:hover {
      box-shadow: none; }
  .alert .alert-icon svg {
    vertical-align: middle;
    width: 33px;
    height: 33px;
    stroke-width: 1.5; }
  .alert .close {
    color: #fff;
    opacity: 1;
    width: 18px; }

/*Default Alerts*/
.alert-primary {
  color: #fff;
  background-color: #4361ee;
  border-color: #4361ee; }

.alert-warning {
  color: #fff;
  background-color: #e2a03f;
  border-color: #e2a03f; }

.alert-success {
  color: #fff;
  background-color: #1abc9c;
  border-color: #1abc9c; }

.alert-info {
  color: #fff;
  background-color: #2196f3;
  border-color: #2196f3; }

.alert-danger {
  color: #fff;
  background-color: #e7515a;
  border-color: #e7515a; }

.alert-dark {
  color: #fff;
  background-color: #3b3f5c;
  border-color: #3b3f5c; }

/*Outline Alerts*/
.alert-outline-primary {
  border-color: #4361ee;
  border-radius: 5px; }

.alert-outline-warning {
  border-color: #dea82a;
  border-radius: 5px; }

.alert-outline-success {
  border-color: #1abc9c;
  border-radius: 5px; }

.alert-outline-info {
  border-color: #009eda;
  border-radius: 5px; }

.alert-outline-danger {
  border-color: #e7515a;
  border-radius: 5px; }

.alert-outline-dark {
  border-color: #454656;
  border-radius: 5px; }

.alert.alert-light .close {
  color: #0e1726; }

.alert.solid-alert-3 .close, .alert.solid-alert-4 .close {
  color: #000; }

.hide-default {
  display: none; }

/*      Light Alert         */
.alert-light-primary {
  color: #4361ee;
  background-color: #eaf1ff;
  border-color: #4361ee; }
  .alert-light-primary svg.close {
    color: #4361ee; }

.alert-light-warning {
  color: #e2a03f;
  background-color: #fff9ed;
  border-color: #e2a03f; }
  .alert-light-warning svg.close {
    color: #e2a03f; }

.alert-light-success {
  color: #1abc9c;
  background-color: #ddf5f0;
  border-color: #1abc9c; }
  .alert-light-success svg.close {
    color: #1abc9c; }

.alert-light-info {
  color: #2196f3;
  background-color: #e7f7ff;
  border-color: #2196f3; }
  .alert-light-info svg.close {
    color: #2196f3; }

.alert-light-danger {
  color: #e7515a;
  background-color: #fff5f5;
  border-color: #e7515a; }
  .alert-light-danger svg.close {
    color: #e7515a; }

.alert-light-dark {
  color: #3b3f5c;
  background-color: #e3e4eb;
  border-color: #3b3f5c; }
  .alert-light-dark svg.close {
    color: #3b3f5c; }

/*  Background Alerts      */
.alert-background {
  color: #fff;
  background: #fff url(../../img/ab-1.jpeg) no-repeat center center;
  background-size: cover; }

/*  Gradient Alerts      */
.alert-gradient.success {
    color: #fff;
    border: none;
    background-size: cover;
    background-image: linear-gradient(135deg, #0476f7 5%, #0a51a1 100%);
}

.alert-gradient.error {
    color: #fff;
    border: none;
    background-size: cover;
    background-image: linear-gradient(135deg, #f90404  5%, #0a51a1   100%);
}

.alert-gradient.warning {
    color: #fff;
    border: none;
    background-size: cover;
    background-image: linear-gradient(135deg, #f7b704eb  5%, #0a51a1 100%);
}
/* Custom Alerts */
/* Default */
.custom-alert-1 {
  background-color: #61b6cd;
  border-color: #61b6cd;
  border-radius: 5px;
  color: #fff; }
  .custom-alert-1 .alert-icon {
    margin-right: 25px; }
  .custom-alert-1 .media-body {
    display: flex;
    justify-content: space-between; }
  .custom-alert-1 .alert-text {
    margin-right: 10px; }
    .custom-alert-1 .alert-text strong, .custom-alert-1 .alert-text span {
      vertical-align: sub; }

/*  Alert with Icon */
.alert-icon-left {
  border-left: 64px solid; }
  .alert-icon-left svg:not(.close) {
    color: #FFF;
    width: 4rem;
    left: -4rem;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.alert-icon-right {
  border-right: 64px solid; }
  .alert-icon-right svg:not(.close) {
    color: #FFF;
    width: 4rem;
    right: -4rem;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .alert-icon-right i {
    float: left;
    margin-right: 7px; }

.alert[class*=alert-arrow-]:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  border-left: 8px solid;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left-color: inherit;
  margin-top: -8px; }

.alert.alert-arrow-right:before {
  left: auto;
  right: 0;
  border-left: 0;
  border-right: 8px solid;
  border-right-color: inherit; }

button.btn.btn-primary.mb-3.mr-3.add {
    position: absolute;
    right: 0;
    top: -7px;
}

.table-controls {
  padding: 0;
  margin: 0;
  list-style: none; }
  .table-controls > li {
    display: inline-block;
    margin: 0 2px;
    line-height: 1; }
    .table-controls > li > a {
      display: inline-block; }
      .table-controls > li > a i {
        margin: 0;
        color: #555;
        font-size: 16px;
        display: block; }
        .table-controls > li > a i:hover {
          text-decoration: none; }

.table .progress {
  margin-bottom: 0; }

/*Table Colors*/
.contextual-table.table > thead > tr > th, .contextual-table.table > tbody > tr > td {
  border: none; }

.table-default > td, .table-default > th {
  background-color: #f1f2f3;
  color: #3b3f5c; }

.table-primary > td, .table-primary > th {
  background-color: #c7d8fd;
  color: #2196f3; }

.table-secondary > td, .table-secondary > th {
  background-color: #e0d4f9;
  color: #805dca; }

.table-success > td, .table-success > th {
  background-color: #cbfdf3;
  color: #1abc9c; }

.table-danger > td, .table-danger > th {
  background-color: #fff5f5;
  color: #e7515a; }

.table-warning > td, .table-warning > th {
  background-color: #fdefd5;
  color: #e2a03f; }

.table-info > td, .table-info > th {
  background-color: #e7f7ff;
  color: #2196f3; }

.table-light > td, .table-light > th {
  background-color: #ffffff;
  color: #888ea8; }

.table-dark > td, .table-dark > th {
  background-color: #e3e4eb;
  color: #515365;
  border-color: #fff !important; }

@media (max-width: 575px) {
  .custom-alert-1 .media-body {
    display: block; }
  .alert .btn {
    margin-top: 8px; } 
  .content .content-layouting .fq-tab-section {
    padding: 35px 25px; }
    .content .content-layouting .fq-tab-section .accordion .card .card-header div svg.feather-code {
      display: none; } 
}
