/*css login*/
html, body {
     height: inherit !important; 
}

.cursor {
  cursor: pointer;
}

.ui-datepicker th {
     background: #0a51a1 !important;
     color:#fff !important;
 }

 .ui-datepicker .ui-datepicker-header {
     background: #3b3f5c !important;
 }

 .w-5{width: 5%;}
.w-10{width: 10%;}
.w-15{width: 15%;}
.w-20{width: 20%;}
.w-25{width: 25%;}
.w-30{width: 30%;}
.w-40{width: 40%;}
.w-50{width: 50%;}

.btn-actions-index {
    padding: 3px;
}

.btn-actions {
    margin-top: 91px;
    position: fixed;
    display: inline-grid;
}

.btn-actions button, .btn-actions a{
    width: 145px;
    margin: 7px 10px;
}

.actions{
	width: 15%;
}

.index-header {
    position: relative;
    display: inline-flex;
    width: 100%;
}

input[type="file"].form-control {
    background: #f0f0f0;
    padding: 8px;
} 
.form-group label.text-red {
    color: red;
}

.messages {
    margin-top: 10px;
}

.order{
	text-align: center;
	width: 5%;
}

.btn-generate-code {
    position: absolute;
    color: #fff !important;
    background-color: #0a51a1 !important;
    border-color: #0a51a1;
    right: 15px;
    top: 32px;
    padding: 10px 13px;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    text-shadow: none;
    font-size: 14px;
}

span.icons {
  position: absolute;
  top: 31px;
  left: 16px;
  background: #0a51a1;
  width: 39px;
  text-align: center;
  height: 43px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.icons img, .icons img {
    color: #fff;
    position: absolute;
    left: 2px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
}

input#discount {
    padding: 0 0 0px 46px;
}

.pull-right .btn-primary{
	padding: 3px 23px;
    margin-bottom: 4px;
    margin-top: -32px;
    font-size: 20px;
}

.box-footer .btn-default{
	background: #ecf0f5;
    font-size: 20px;
    padding: 3px 7px;
}

.box-footer .btn-success{
	background: #0a51a1;
    font-size: 20px;
    padding: 3px 7px;
    margin-left: 10px;
}

div#ui-datepicker-div {
    z-index: 2 !important;
}

span.typeahead__cancel-button {
    top: 7px;
    color: #000;
    font-size: 16px;
}

.box-footer .btn-success:hover{
    color: #000;
	background: #f7df35;
}

.alert-success{
     font-size: 20px;
     background: #3c8dbc !important;
     padding: 5px 10px;
}

.alert-warning{
     font-size: 20px;
     background: #f39c12  !important;
     padding: 5px 10px;
}

.alert-danger{
     font-size: 20px;
     background: #b90808 !important;
     padding: 5px 10px;
}

.alert-dismissable .close, .alert-dismissible .close {
     position: relative !important;
     color: #dd4b39 !important;
     top: -5px !important;
     right: 3px !important;
     font-size: 36px !important;
     opacity: 0.7 !important;
 }

.skin-blue .main-header .navbar {
    background-color: #0a51a1;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}

.skin-blue .main-header .logo {
    background-color: #0a51a1;
    border-bottom: 1px solid #ffffff
}

.fields-content input[type=text]{
	width: 250px;
}

.input-check-box{
	-ms-transform: scale(2) !important;
    -moz-transform: scale(2.2) !important;
    -webkit-transform: scale(2.2) !important;
    -o-transform: scale(2.2) !important;
    margin-left: 11px !important;
    margin-top: 12px !important;
    margin-right: 15px !important;
}



#example1 .fa-check{
	color: #0a51a1;
}

#example1 .fa-times{
    color: #bf1010;
}

#example1 .fa-check:hover{
	color: #f7df35;
}

td.drag-handle.ui-sortable-handle {
    text-align: center;
}

th.actions, td.btn-actions-index {
    text-align: center;
}

.sidebar-menu>li>a>.fa,.sidebar-menu>li>a>.fas, .sidebar-menu>li>a>.fab, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    width: 20px;
}

.delete-image i{
     color: #dd4b39;
     cursor: pointer;
}

.fade-leave-active {
  transition: 1s;
  transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter, .fade-leave-to{
  transform: translate(100%, 0);
}

.fade-leave-to{
  transform: translate(-100%, 0);
}

.options-interest{
    display: inline-flex;
}

.options-interest input{
    width: 80px;
}
.edit-interest, .save-interest{
    cursor: pointer;
    font-size: 17px;
    margin-left: 7px;
    margin-top: 4px;
}

span.code-video-youtube {
    color: #0a51a1;
}

#button-password{
    position: absolute;
    right: 71%;
    bottom: -58px;
}

.admin .sweet-alert {
    width: 40%;
    padding: 8px;
    border-radius: 9px;
    top: 45%;
    left: 30%;
}

.admin .sweet-alert button {
    font-size: 20px;
    -webkit-border-radius: 9px !important;
    border-radius: 5px;
    padding: 7px 13px;
}

.admin .sweet-alert button.cancel {
    background-color: #999 !important;
    color: #fff;
    border: 1px solid transparent;
    border-color: #ddd;
}

.admin .sweet-alert button.confirm {
    background-color: #1155a2 !important;
}

i.copy-url {
    color: #909198;
}

.admin .sweet-alert {
    width: 50% !important;
    top: 50% !important;
}

.tab-content .form-group label span {
    color: red;
    font-weight: 700;
    font-size: 16px;
}

.tab-content .form-group label span.new-radio-content {
    color: #3b3f5c;
}

ul.jqtree-tree li {
  border: 1px solid #0a51a1;
  margin: 6px 0px !important;
  border-radius: 4px !important;
  background: #7f82958f;
  padding: 6px 0px !important;
}

.jqtree-tree .jqtree-title {
    color: #030305 !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element, ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    background-color: #0a51a1 !important;
    border-radius: 4px !important;
    padding: 6px 0px !important;
    text-shadow: 0 1px 0 rgb(255 255 255 / 70%);
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element  span{
   color: #fff !important;
}

.btn[disabled], .btn:disabled {
    background-color: #cccccc !important;
    color: #000 !important;
    font-weight: 600 !important;
    border: none !important;
}

.new-control.new-radio.radio-primary > input:checked ~ span.new-control-indicator {
    background: #0a51a1 !important;
}
.new-control.new-radio.new-radio-text.radio-primary > input:checked ~ span.new-radio-content, .new-control.new-radio.new-radio-text.radio-classic-primary > input:checked ~ span.new-radio-content {
    color: #0a51a1 !important;
}

.row.item-options {
    align-items: center;
}
.item-options button.btn {
    padding: 6px 6px;
}
@media(min-width:320px) {
    .btn-actions button, .btn-actions a {
        width: 130px;
    }
}

@media(min-width:375px) {
    .btn-actions button, .btn-actions a {
        width: 145px;
    }
}



@media(min-width:1024px) {
    .btn-actions button, .btn-actions a {
        width: 110px;
    }
}

@media(min-width:1100px) {
    .btn-actions button, .btn-actions a {
        width: 133px;
    }
}

@media(min-width:1440px) {
    .btn-actions button, .btn-actions a {
        width: 150px;
    }
}


@media(max-width:991px) {
    .btn-actions {
        position: initial;
        display: inline-flex;
    }

    
}