.was-validated .form-control:invalid, .form-control.is-invalid {
   border:2px solid #dc3545 !important;
    padding-right: calc(1.5em + 0.75rem) !important;
    background-image: url('../img/icons/is-invalid.svg') !important;
    background-repeat: no-repeat !important;
    background-position: right calc(0.375em + 0.1875rem) center !important;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.was-validated .custom-select:invalid, .custom-select.is-invalid {
   border:2px solid #dc3545 !important;
    padding-right: calc(0.75em + 2.3125rem) !important;
    background: url('../img/icons/is-invalid.svg') center right 1.75rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) no-repeat !important;
}

.was-validated .custom-select:valid, .custom-select.is-valid {
   border:2px solid #28a745 !important;
    padding-right: calc(0.75em + 2.3125rem) !important;
    background: url('../img/icons/is-valid.svg') center right 1.75rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) no-repeat !important;
}

.was-validated .form-control:invalid, .was-validated .form-control:valid, .form-control.is-invalid, .form-control.is-valid {
    background-position: right calc(0.375em + 0.1875rem) center !important;
}

.was-validated .form-control:valid, .form-control.is-valid {
   border:2px solid #28a745 !important;
    padding-right: calc(1.5em + 0.75rem) !important;
    background-image: url('../img/icons/is-valid.svg') !important;
    background-repeat: no-repeat !important;
    background-position: right calc(0.375em + 0.1875rem) center !important;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.was-validated .form-control:invalid, .was-validated .form-control:valid, .form-control.is-invalid, .form-control.is-valid {
    background-position: right calc(0.375em + 0.1875rem) center !important;
}
h2.swal2-title{
	font-size: 1.5rem;
        display: initial !important;
}

label.error{
    position: relative;
    margin-top: -14px !important;
    display: block;
    text-align: left;
    width: 100%;
    font-size: 13px;
    color: #f43030 !important;
}

label.error{
    margin-top: 0 !important;
}

.col.col_2.tinymargen span {
    right: 0px;
    position: absolute;
    top: 13px;
    color: #dc3545;
}

.col.col_2.tinymargen.right span {
    right: -9px;
    
}

label.custom-control-label {
    margin: 0 0px !important;
}
span.tag-principal {
    position: absolute;
    right: -27px;
    top: -3px;
}

span.tag-principal::before {
    display: block;
    box-sizing: border-box;
    content: "Principal";
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    font-weight: 700;
    color: #fff;
}

span.tag-principal::before {
    background: transparent;
    height: 0;
    width: 106px;
    border: 24px solid transparent;
    border-bottom: 23px solid #0a51a1;
    line-height: 25px;
    transform: rotate(45deg);
}


.item.marco.cyan{
    position: relative;
}

.col.col_2.item.marco.cyan.item-address {
    margin: 3px 0px;
}

.col.col_2.item.marco.cyan.item-address {
   display: inline-block;
}

.swal2-icon {
    width: 3em !important;
    height: 3em !important;
    margin: 1.25em auto 1.875em;
    border: 3px solid transparent !important;
}
.swal2-icon.swal2-error {
    border-color: #84202a !important;
    color: #84202a !important;
}
.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    top: 22px !important;
    width: 32px !important;
    height: 3px !important;
    border-radius: .125em;
    background-color: #84202a !important;
}
.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left] {
    left: 8px !important;
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right] {
    right: 8px !important;
}

.swal2-icon.swal2-success [class^=swal2-success-line] {
    display: block;
    position: absolute;
    z-index: 2;
    height: 3px !important;
    border-radius: .125em;
    background-color: #a5dc86;
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=tip] {
    top: 31px !important;
    left: 2px !important;
    width: 17px !important;
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=long] {
    top: 25px !important;
    right: 1px !important;
    width: 37px !important;
}

.sending{
    position: relative;
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,0) url(../img/generals/loading-records.gif) no-repeat center center;
    margin: auto;
    margin-bottom: -40px;
}

.toast-body {
    background: #0a51a1  !important;
    border-radius: 10px !important;
    padding: 5px 7px !important;
    color: #ffffff !important;
    font-size: 1rem !important;
}

.add-cart-gif.btn-gif {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: #00000066;
}

.add-cart-gif.btn-gif .spinner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: transparent;
    border-top: 5px solid #0a51a1;
    border-right: 5px solid #0a51a1;
    border-bottom: 5px solid #0a51a1;
    border-left: 5px solid transparent;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: .8s;
    animation-name: spinner-loading;
}